.site-content {
  min-height: 100vh;
  scroll-behavior: smooth;
}

.planetarium-canvas {
  background: #252525;
  min-height: 100vh;
  width: 100%;
}

.planetarium-canvas > div {
  position: absolute;
}
